<h1>
  {{title}}
</h1>
<div class="row">
  <form class="col s4">
    <div class="row">
      <div class="input-field col s12">
        <input id="hashtags" type="text" [(ngModel)]="searchquery" [ngModelOptions]="{standalone: true}">
        <label for="hashtags">Search by hashtags</label>
      </div>
    </div>
    <button (click)="searchcall()">search</button>
    <div *ngFor="let item of tweetsdata | slice:0:10; let i=index" class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src={{item.user.profile_image_url}}>
        </div>
        <div class="right-content">
          <span class="card-title">
            {{item.user.name}}
          </span>
          <div class="card-content">
            <p>{{item.text}}</p>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- <div infiniteScroll [infiniteScrollDistance]="10" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()">

</div> 
<loading-spinner *ngIf="!finished"></loading-spinner>
<div class="col-md-6">
  <canvas baseChart
    [data]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [chartType]="lineChartType"
    >
  </canvas>
</div> -->